:root {
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 40px 20px;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}